<div class="cart">
  <div class="container">
    <div class="cart-title">Корзина</div>

    <div class="cart-info">
      <div class="cart-products">
        <div class="cart-product">
          <div class="cart-product-image"></div>

          <div class="cart-product-name">Сансевиерия трехпучковая Муншайн</div>

          <app-count-selector></app-count-selector>

          <div class="cart-product-price">100 BYN</div>

          <div class="cart-product-remove">
            <img src="assets/images/icons/closing-cross.svg" alt="Крестик">
          </div>
        </div>

        <div class="cart-product">
          <div class="cart-product-image"></div>

          <div class="cart-product-name">Сансевиерия трехпучковая Муншайн</div>

          <app-count-selector></app-count-selector>

          <div class="cart-product-price">100 BYN</div>

          <div class="cart-product-remove">
            <img src="assets/images/icons/closing-cross.svg" alt="Крестик">
          </div>
        </div>

        <div class="cart-product">
          <div class="cart-product-image"></div>

          <div class="cart-product-name">Сансевиерия трехпучковая Муншайн</div>

          <app-count-selector></app-count-selector>

          <div class="cart-product-price">100 BYN</div>

          <div class="cart-product-remove">
            <img src="assets/images/icons/closing-cross.svg" alt="Крестик">
          </div>
        </div>
      </div>

      <div class="cart-details">
        <div class="cart-details-info">
          <div class="cart-details-info-title">Ваш заказ</div>

          <div class="cart-details-info-item first">
            <div class="cart-details-info-item-text">Товаров:</div>
            <div class="cart-details-info-item-data">4</div>
          </div>

          <div class="cart-details-info-item">
            <div class="cart-details-info-item-text">Общая стоимость:</div>
            <div class="cart-details-info-item-data">147 BYN</div>
          </div>

          <div class="cart-details-info-delivery">* без учета доставки</div>
        </div>

        <div class="cart-details-actions">
          <button [routerLink]="'/catalog'" class="button button-transparent">Продолжить покупки</button>
          <button [routerLink]="'/order'" class="button">Оформить заказ</button>
        </div>
      </div>
    </div>

    <section class="extra-products">
      <div class="carousel-header">
        <div class="carousel-title">С этими товарами также покупают</div>

        <div class="carousel-arrows">
          <a class="move-backwards" (click)="owlCar.prev()">
            <img src="/assets/images/icons/arrow-left.svg" alt="Назад">
          </a>

          <a class="move-forward" (click)="owlCar.next()">
            <img src="/assets/images/icons/arrow-right.svg" alt="Вперёд">
          </a>
        </div>
      </div>

      <div class="carousel-items">
        <owl-carousel-o [options]="customOptions" #owlCar>
          <ng-template carouselSlide *ngFor="let product of extraProducts">
            <app-product-card [product]="product" [isLight]="true"></app-product-card>
          </ng-template>
        </owl-carousel-o>
      </div>
    </section>
  </div>
</div>


