<div class="favorite">
  <div class="container">
    <div class="favorite-title">Избранное</div>

    <div class="favorite-empty" *ngIf="!favoriteProducts || favoriteProducts.length === 0">
      <div>В избранном нет товаров</div>

      <button [routerLink]="'/catalog'" class="button">В каталог</button>
    </div>

    <div class="favorite-products" *ngIf="favoriteProducts && favoriteProducts.length > 0">
      <div class="favorite-product" *ngFor="let product of favoriteProducts">
        <div class="favorite-product-image" style="background-image: url({{ this.serverStaticPath + product.image }})"></div>

        <div class="favorite-product-name">{{ product.name }}</div>

        <div class="favorite-product-price">{{ product.price }} BYN</div>

        <div class="favorite-product-action">
          <div class="favorite-product-count">
            <app-count-selector [count]="product.countInCart ? product.countInCart : count"
                                (onCountChange)="updateCount($event, product)"></app-count-selector>
          </div>

          <div class="favorite-product-cart">
            <button class="button" (click)="addToCart(product)" *ngIf="!product.countInCart">В корзину</button>
            <button class="button button-transparent button-in-cart" (click)="removeFromCart(product)" *ngIf="product.countInCart">
              <span>В корзине</span>
              <span>Удалить</span>
            </button>
          </div>
        </div>

        <div class="favorite-product-remove" (click)="removeFromFavorites(product.id)">
          <img src="assets/images/icons/closing-cross.svg" alt="Крестик">
        </div>
      </div>
    </div>
  </div>
</div>
