@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.favorite {
  padding: 50px 0 110px 0;

  &-title {
    @include head-lora-36;
    color: $green-text-color;
    margin-bottom: 35px;
  }

  &-empty {
    margin: 20px 0 100px 0;

    div {
      font-size: 16px;
    }

    .button {
      width: 255px;
      margin-top: 10px;
    }
  }

  &-products {

    .favorite-product {
      margin-top: 15px;
      border-top: 1ps solid #E7F1E8;
      padding-top: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:first-child {
        margin-top: unset;
        border-top: unset;
        padding-top: unset;
      }

      &-image {
        background-position: center;
        background-size: cover;
        width: 100px;
        height: 100px;
        border-radius: 5px;
      }

      &-name {
        margin-left: 24px;
        margin-right: 20px;
        font-size: 20px;
        color: $gray-text-color;
        width: 567px;
      }

      &-price {
        width: 100px;
        margin-right: 50px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        color: $gray-text-color;
      }

      &-action {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 10px;
        width: 150px;

        .favorite-product-cart {
          width: 100%;

          .button {
            width: 100%;
          }
        }
      }

      &-remove {
        margin-left: 60px;
        cursor: pointer;
      }
    }
  }
}
