<div class="product-card"
     *ngIf="product" [routerLink]="isLight ? ['/product/' + product.url] : []"
     [class.is-light]="isLight">
  <div class="product-card__favorite" *ngIf="!isLight">
<!--    <span>-->
<!--      <img src="/assets/images/icons/product-card-heart-untouched.svg" alt="heart-favorite">-->
<!--    </span>-->

    <span>
      <img src="/assets/images/icons/product-card-heart-untouched.svg" alt="heart-favorite">
    </span>
  </div>

  <div class="product-card__image" style="background-image: url({{ serverStaticPath + product.image }})"></div>

  <div class="product-card__name">{{ product.name }}</div>

  <div class="product-card__info" *ngIf="!isLight">
    <div class="product-card__price">{{ product.price }} BYN</div>

    <div class="product-card__action">
      <button class="button" (click)="addToCart()" *ngIf="!countInCart">В корзину</button>
      <button class="button button-transparent button-in-cart" (click)="removeFromCart()" *ngIf="countInCart">
        <span>В корзине</span>
        <span>Удалить</span>
      </button>
    </div>
  </div>

  <div class="product-card__extra" *ngIf="!isLight">
    <app-count-selector [count]="count" (onCountChange)="updateCount($event)"></app-count-selector>

    <a [routerLink]="'/product/' + product.url" class="product-card__detail">
      <img src="/assets/images/icons/three-dots-details.svg" alt="Точки">

      <span>Подробнее</span>
    </a>
  </div>
</div>
