<header class="header">
  <div class="container">
    <a [routerLink]="'/'" class="logo">
      <img src="/assets/images/logo.png" alt="Logo">
    </a>

    <div class="header-content">
      <div class="header-top">
        <div class="header-top-menu">
          <nav>
            <ul>
              <li>
                <a [routerLink]="'/'">Главная</a>
              </li>
              <li>
                <a [routerLink]="'/catalog'">Каталог</a>
              </li>
              <li>
                <a>Отзывы</a>
              </li>
              <li>
                <a>Доставка и оплата</a>
              </li>
            </ul>
          </nav>
        </div>

        <a class="header-top-phone" href="tel:+375299182888">
          + 375 (29) 918-28-88
        </a>

        <div class="header-top-actions">
          <a [routerLink]="'/login'" *ngIf="!isLoggedIn">
            <img src="/assets/images/icons/login.svg" alt="login">
          </a>

          <a *ngIf="isLoggedIn" [matMenuTriggerFor]="menu">
            <img src="/assets/images/icons/profile.svg" alt="profile">
          </a>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <a [routerLink]="'/profile'">Профиль</a>
            </button>
            <button mat-menu-item>
              <span (click)="logout()">Выйти</span>
            </button>
          </mat-menu>

          <a [routerLink]="'/favorite'">
            <img src="/assets/images/icons/heart.svg" alt="heart">
          </a>

          <a [routerLink]="'/cart'">
            <img src="/assets/images/icons/bag.svg" alt="bag">

            <span>{{ this.count }}</span>
          </a>
        </div>
      </div>

      <div class="header-bottom">
        <div class="header-bottom-menu">
          <nav>
            <ul>
              <li *ngFor="let category of categories">
                <a [routerLink]="'/catalog'" [queryParams]="{ types: category?.typesUrl }">{{ category.name }}</a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="header-bottom-search">
          <input type="text" placeholder="Начните искать">
        </div>
      </div>
    </div>
  </div>
</header>
