<div class="detail">
  <div class="container">
    <div class="detail-title">Сансевиерия трехпучковая Муншайн</div>

    <div class="detail-product">
      <div class="detail-image" style="background-image: url('')"></div>

      <div class="detail-info">
        <div class="detail-info-items">
          <div class="detail-info-item">
            <div class="detail-info-item-icon">
              <img src="assets/images/icons/lamp.svg" alt="Лампа">
            </div>

            <div class="detail-info-item-text">
              <div class="detail-info-item-title">Освещение</div>

              <div class="detail-info-item-description">
                Сансевиерии понравится прямой свет северных, восточных и западных окон. Также её можно расположить под
                непрямым или рассеянным освещением южного окна. Следите за листвой — при недостатке света её рост
                замедлится, а при переизбытке она начнёт желтеть по краям
              </div>
            </div>
          </div>

          <div class="detail-info-item">
            <div class="detail-info-item-icon">
              <img src="assets/images/icons/humidity.svg" alt="Влажность">
            </div>

            <div class="detail-info-item-text">
              <div class="detail-info-item-title">Влажность</div>

              <div class="detail-info-item-description">
                Используйте для полива отстоявшуюся воду комнатной температуры. Дополнительного повышения влажности
                воздуха сансевиерия не требует. Удобряйте растение раз в месяц разбавленным раствором подкормки для
                кактусов и суккулентов. На зимнее время удобрение прекращается
              </div>
            </div>
          </div>

          <div class="detail-info-item">
            <div class="detail-info-item-icon">
              <img src="assets/images/icons/temperature.svg" alt="Температура">
            </div>

            <div class="detail-info-item-text">
              <div class="detail-info-item-title">Температура</div>

              <div class="detail-info-item-description">
                Держите суккулент в диапазоне 20-29°С. Сансевиерия боится холодов и сквозняков, поэтому не ставьте её на
                часто проветриваемом месте
              </div>
            </div>
          </div>
        </div>

        <div class="detail-info-param">
          <div class="detail-info-param-name">Высота:</div>
          <div class="detail-info-param-data">26 см</div>
        </div>

        <div class="detail-info-param">
          <div class="detail-info-param-name">Диаметр (горшка):</div>
          <div class="detail-info-param-data">10 см</div>
        </div>

        <div class="detail-info-params">
          <div class="detail-info-params-count">
            <span>Количество: </span>
            <div class="">...</div>
          </div>

          <div class="detail-info-params-price">50 BYN</div>
        </div>

        <div class="detail-info-actions">
          <button class="button button-transparent button-icon">
            <img src="assets/images/icons/button-heart.svg" alt="Сердечко">
            <span>В избранное</span>
          </button>

          <button class="button">В корзину</button>
        </div>
      </div>
    </div>

    <div class="recommended-products">
      <div class="carousel-header">
        <div class="carousel-title">Рекомендуемые товарыа</div>

        <div class="carousel-arrows">
          <a class="move-backwards" (click)="owlCar.prev()">
            <img src="/assets/images/icons/arrow-left.svg" alt="Назад">
          </a>

          <a class="move-forward" (click)="owlCar.next()">
            <img src="/assets/images/icons/arrow-right.svg" alt="Вперёд">
          </a>
        </div>
      </div>

      <div class="carousel-items">
        <owl-carousel-o [options]="customOptions" #owlCar>
          <ng-template carouselSlide *ngFor="let product of recommendedProducts">
            <app-product-card [product]="product"></app-product-card>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
