<div class="detail" *ngIf="product">
  <div class="container">
    <div class="detail-title">{{ product.name }}</div>

    <div class="detail-product">
      <div class="detail-image" style="background-image: url({{ this.serverStaticPath + product.image }})"></div>

      <div class="detail-info">
        <div class="detail-info-items">
          <div class="detail-info-item" *ngIf="product.lightning">
            <div class="detail-info-item-icon">
              <img src="assets/images/icons/lamp.svg" alt="Лампа">
            </div>

            <div class="detail-info-item-text">
              <div class="detail-info-item-title">Освещение</div>

              <div class="detail-info-item-description">{{ product.lightning }}</div>
            </div>
          </div>

          <div class="detail-info-item" *ngIf="product.humidity">
            <div class="detail-info-item-icon">
              <img src="assets/images/icons/humidity.svg" alt="Влажность">
            </div>

            <div class="detail-info-item-text">
              <div class="detail-info-item-title">Влажность</div>

              <div class="detail-info-item-description">{{ product.humidity }}</div>
            </div>
          </div>

          <div class="detail-info-item" *ngIf="product.temperature">
            <div class="detail-info-item-icon">
              <img src="assets/images/icons/temperature.svg" alt="Температура">
            </div>

            <div class="detail-info-item-text">
              <div class="detail-info-item-title">Температура</div>

              <div class="detail-info-item-description">{{ product.temperature }}</div>
            </div>
          </div>
        </div>

        <div class="detail-info-param"*ngIf="product.height">
          <div class="detail-info-param-name">Высота:</div>
          <div class="detail-info-param-data">{{ product.height }} см</div>
        </div>

        <div class="detail-info-param" *ngIf="product.diameter">
          <div class="detail-info-param-name">Диаметр (горшка):</div>
          <div class="detail-info-param-data">{{ product.diameter }} см</div>
        </div>

        <div class="detail-info-params">
          <div class="detail-info-params-count">
            <span>Количество: </span>
            <app-count-selector [count]="count" (onCountChange)="updateCount($event)"></app-count-selector>
          </div>

          <div class="detail-info-params-price">{{ product.price }} BYN</div>
        </div>

        <div class="detail-info-actions">
          <button class="button button-transparent button-icon">
            <img src="assets/images/icons/button-heart.svg" alt="Сердечко">
            <span>В избранное</span>
          </button>

          <button class="button" (click)="addToCart()" *ngIf="!this.product.countInCart">В корзину</button>
          <button class="button button-transparent button-in-cart" (click)="removeFromCart()" *ngIf="this.product.countInCart">
            <span>В корзине</span>
            <span>Удалить</span>
          </button>
        </div>
      </div>
    </div>

    <div class="recommended-products">
      <div class="carousel-header">
        <div class="carousel-title">Рекомендуемые товарыа</div>

        <div class="carousel-arrows">
          <a class="move-backwards" (click)="owlCar.prev()">
            <img src="/assets/images/icons/arrow-left.svg" alt="Назад">
          </a>

          <a class="move-forward" (click)="owlCar.next()">
            <img src="/assets/images/icons/arrow-right.svg" alt="Вперёд">
          </a>
        </div>
      </div>

      <div class="carousel-items">
        <owl-carousel-o [options]="customOptions" #owlCar>
          <ng-template carouselSlide *ngFor="let product of recommendedProducts">
            <app-product-card [product]="product"></app-product-card>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
