<div class="catalog">
  <div class="container">
    <div class="catalog-title">Каталог</div>

    <div class="catalog-head">
      <div class="catalog-head__filters">
        <div class="catalog-head__filter" *ngFor="let appliedFilter of appliedFilters">
          <span>{{ appliedFilter.name }}</span>
          <a (click)="removeAppliedFilter(appliedFilter)">
            <img src="/assets/images/icons/closing-cross.svg" alt="Крестик">
          </a>
        </div>

      </div>

      <div class="catalog-head__sorting" [class.open]="sortingOpen" (click)="toggleSorting()">
        <div class="sorting-head">
          <span>Сортировать</span>

          <img src="/assets/images/icons/arrow-down.svg" alt="Развернуть">
        </div>

        <div class="sorting-body">
          <div class="sorting-body__item"
               [class.active]="this.activeParams.sort ? this.activeParams.sort === sortingOption.value : false"
               (click)="sort(sortingOption.value)"
               *ngFor="let sortingOption of sortingOptions">{{ sortingOption.name }}</div>
        </div>
      </div>
    </div>

    <div class="catalog-layout">
      <div class="catalog-filters">

        <app-category-filter [categoryWithTypes]="categoryWithTypes" *ngFor="let categoryWithTypes of categoriesWithTypes"></app-category-filter>
        <app-category-filter [type]="'height'"></app-category-filter>
        <app-category-filter [type]="'diameter'"></app-category-filter>

      </div>

      <div class="catalog-products">
        <app-product-card [countInCart]="product.countInCart" *ngFor="let product of products" [product]="product"></app-product-card>
      </div>
    </div>

    <div class="pagination" *ngIf="pages.length > 1">
      <div class="pagination-arrow" (click)="openPrevPage()"
           [class.disabled]="this.activeParams.page ? this.activeParams.page === 1: true">
        <img src="/assets/images/icons/pag-arrow-left.svg" alt="Назад">
      </div>

      <div class="pagination-pages">
        <a class="pagination-page" (click)="openPage(page)"
           [class.active]="this.activeParams.page ? this.activeParams.page === page : (page === 1)"
           *ngFor="let page of pages">{{ page }}</a>
      </div>

      <div class="pagination-arrow" (click)="openNextPage()"
           [class.disabled]="this.activeParams.page ? this.activeParams.page === pages.length : false">
        <img src="/assets/images/icons/pag-arrow-right.svg" alt="Вперёд">
      </div>
    </div>
  </div>
</div>
