<div class="catalog">
  <div class="container">
    <div class="catalog-title">Каталог</div>

    <div class="catalog-head">
      <div class="catalog-head__filters">
        <div class="catalog-head__filter" *ngFor="let appliedFilter of appliedFilters">
          <span>{{ appliedFilter.name }}</span>
          <a (click)="removeAppliedFilter(appliedFilter)">
            <img src="/assets/images/icons/closing-cross.svg" alt="Крестик">
          </a>
        </div>

      </div>

      <div class="catalog-head__sorting open">
        <div class="sorting-head">
          <span>Сортировать</span>

          <img src="/assets/images/icons/arrow-down.svg" alt="Развернуть">
        </div>

        <div class="sorting-body">
          <div class="sorting-body__item">От А до Я</div>
          <div class="sorting-body__item">От Я до А</div>
          <div class="sorting-body__item active">По возрастанию цены</div>
          <div class="sorting-body__item">По убыванию цены</div>
        </div>
      </div>
    </div>

    <div class="catalog-layout">
      <div class="catalog-filters">

        <app-category-filter [categoryWithTypes]="categoryWithTypes" *ngFor="let categoryWithTypes of categoriesWithTypes"></app-category-filter>
        <app-category-filter [type]="'height'"></app-category-filter>
        <app-category-filter [type]="'diameter'"></app-category-filter>

      </div>

      <div class="catalog-products">
        <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
      </div>
    </div>

    <div class="pagination">
      <div class="pagination-arrow disabled">
        <img src="/assets/images/icons/pag-arrow-left.svg" alt="Назад">
      </div>

      <div class="pagination-pages">
        <a class="pagination-page active">1</a>
        <a class="pagination-page">2</a>
        <a class="pagination-page">3</a>
        <a class="pagination-page">4</a>
        <a class="pagination-page">5</a>
      </div>

      <div class="pagination-arrow">
        <img src="/assets/images/icons/pag-arrow-right.svg" alt="Вперёд">
      </div>
    </div>
  </div>
</div>
